<!DOCTYPE HTML>

<html>

<head>
    <title>About</title>
    <link rel='icon' href="/img/weather.png" />
    <link rel='stylesheet' href="/css/styles.css">
</head>

<body>

    <div class="main-container">
        {{>header}}
        <p>This app is created by Chintan Bawa. This app shows weather forecast for entered location.</p>
        <img class='portrait' src="/img/me.jpg">
    </div>
    {{>footer}}
</body>

</html>