<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel='icon' href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-container">
        {{>header}}
        <p>This page contains all the content, to help regarding issue, related to this web app.</p>
    </div>
    {{>footer}}
</body>

</html>